{% extends "base.twig" %}
{% block content %}
    <div class="container">
        <p>
        <h1>/accueil</h1>
        interne au cadre provient de view/index.twig<br/>
        externe au cadre provient de view/base.twig
        
    </p>
</div>
{% endblock %}

