{% extends "base.twig" %}
{% block content %}
<div class="container">
    <h1>Niveau scolaire</h1>
    <!-- form ajouter un niveau -->
    <div>
        <form action="/niveaux/update" method="POST">
            <input autofocus type="text" name="niveauScolaire" value="{{ niveau.niveauScolaire }}" required />
            <input type="hidden" name="id" value="{{ niveau.id }}" />
            <input type="submit" name="/niveaux/update" value="Valider" />
        </form>
    </div>
</div>
{% endblock %}
