{% extends "base.twig" %}
{% block content %}
    <div class="container">
        <h1>/page/Niveau1</h1>
        <p>
            interne au cadre provient de view/index.twig<br/>
            externe au cadre provient de view/base.twig        </p>
    </div>
{% endblock %}
